.adminpage {
  background-color: var(--gray-flash);
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 2rem;
  align-items: start;
}

.sidebar {
  background-color: var(--mystic-blue);
  transition: width 0.3s ease;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 3;
}

.silderlist {
  display: grid;
  gap: 2rem;
  padding-block: 2rem;
  position: sticky;
  top: 0;
}

.sliderli {
  padding: 1rem 2rem;
  margin-left: 2rem;
  border-radius: 100vw 0 0 100vw;
  cursor: pointer;
  color: var(--gray-flash);
}

.sliderli.active {
  position: relative;
  background-color: var(--gray-flash);

  & span {
      color: var(--mystic-blue);
  }
}

.sliderli.active::before,
.sliderli.active::after {
  --border-radius: 1rem;

  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
  background-color: var(--mystic-blue);
  border-radius: 100vw;
}

.sliderli.active::before {
  top: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0 10px var(--gray-flash);
}

.sliderli.active::after {
  bottom: calc(var(--border-radius) * -1);
  border-radius: 0 100vw 0 0;
  box-shadow: 10px -10px 0 10px var(--gray-flash);
}

.silder-list span {
  color: var(--white-color);
}